// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts { 
background:#DADADA;
color:#FFFFFF;
padding:20px;
}


.post { 
background:#FFA;
color:#999999;
padding:20px;
}

.message { 
padding:10px;
color:red;}

.button {
	padding:5px;
	background: #7d89ff;
    border: 1px solid #2d2881;
    font-style:normal;
    color:#FFF;
}

.button:hover {
	background:#182360;
}